@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* For headings: Anton
For Paragraphs: Poppins */

/* Light blue: #e6f4ff
Border blue: #2e78bc */
/* Button color: #2e78bc */

/* Dark Blue Background - #1b3b5f */

/* Green */
/* background: #e6f0eb;
  border: 1px solid #13853c; */


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.5px;
}

p,span {
  font-family: "Poppins", sans-serif;  
}
